html, body {
	text-align: center;
	font-family: sans-serif;
	background-color: gray;
}

#footer {
	position: absolute;
	bottom: 0px;
	margin: 0 auto;
	right: 0px;
	color: white;
	display: none;
}

#linkdiv {
	position: relative;
	text-align: center;
}

p {
	color: white;
	font-size: 2vw;
	text-align: right;
}

h1 {
	width: 100%;
	font-size: 250%;
	margin: 0 auto;
	color: white;
	display: table-cell;
	text-align: center;
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 500%;
		display: table-cell;
		vertical-align: middle;
		color: white;
	}
	
	p {
		font-size: 200%;
		-webkit-text-stroke: 2px white;
	}
	
	#linkdiv {
		margin: auto;
		width: 48vw;
		height: 32vh;
		display: inline-block;
		background-color: rgba(84, 84, 84, 0.7);
		background-color: rgba(84, 84, 84, 0.6);
		display: table;
		float: left;
	}
	
}

#toggle{
	float: left;
	bottom: 0px;
	position: absolute;
}

#imagee{
	display: none;
}

a{
	text-decoration: none;
}
