body, html {
	background-color: #51d6e0;
	width: 95vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	}
li {
	width: 100%;
	background-color: gray;
	float: left;
	display: block;
	margin: 1px;
	vertical-align: center;
	text-align: center;
	}
            
ul {
	list-style-type: none;
	float: left;
	display: block;
	width: 100vw;
	margin: 1px;
	}
