body, html {
	background-color: #51d6e0;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	}
.navli {
	width: 100%;
	background-color: gray;
	float: left;
	display: block;
	margin: 1px;
	vertical-align: center;
	text-align: center;
	}
            
.navul {
	list-style-type: none;
	float: left;
	display: block;
	width: 100vw;
	margin: 1px;
	}

a {
	text-decoration: none;
	}

.header {
	background-color: gray; 
	color: white; 
	height: 10vh; 
	line-height: 10vh; 
	background-image: url('transparent.png'); 
	background-size: 10vh 10vh; 
	background-repeat: no-repeat;
	text-align: center;
	}
	
.mess {
	background-color: #E5E4E2;
	width: 100%;
	float: left;
	display: block;
	margin: 1px;
	vertical-align: center;
	text-align: center;
