html{
	overflow-x: hidden;
}

body{
	background-color: #bc0000;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	position: absolute;
	font-family: sans-serif;
}

#middle{
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 100%;
	background-color: #bc0000;
	top: 0px;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vw;
	padding-top: 0px;
}

p{
	text-align: left;
	font-size: 1.25vw;
	color: #ffffff;
}

h1{
	text-align: left;
	font-size: 2vw;
	color: #bcbcbc;
}

h2{
	text-align: center;
	font-size: 3.5vw;
	color: #bc0000;
	font-weight: bold;
	background-color: #ffffff;
	width: 100vw;
	top: 0px;
}

h3{
	text-align: left;
	font-size: 1.5vw;
	color: #ffffff;
}

a{
	color: #ffffff;
}

::-webkit-scrollbar:horizontal{
	width: 0px;
}
