html{
	overflow-x: hidden;
	--bg-color: #b2506d;
	--p-text: #ffffff;
	--header-bg: #2C6C7F;
	--p-header: #66DBFE;
	--p-subhead: #2C6C7F;
	--link: #ffffff;
}

body{
	background-color: var(--bg-color);
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	position: absolute;
	font-family: sans-serif;
}

#middle{
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 100%;
	background-color: var(--bg-color);
	top: 0px;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vw;
	padding-top: 0px;
}

p{
	text-align: left;
	font-size: 1.25vw;
	color: var(--p-text);
}

h1{
	text-align: left;
	font-size: 2vw;
	color: var(--p-header);
}

h2{
	text-align: center;
	font-size: 3.5vw;
	color: var(--bg-color);
	font-weight: bold;
	background-color: var(--header-bg);
	width: 100vw;
	top: 0px;
}

h3{
	text-align: left;
	font-size: 1.5vw;
	color: var(--p-subhead);
}

a{
	color: var(--link);
}

::-webkit-scrollbar:horizontal{
	width: 0px;
}
