@media (max-width: 600px) {
	#nav, #navcontain {
		display: none;
	}
	
	#mobilenav {
		display: block;
	}
}

@font-face {
    font-family: cabin;
    src: url('font/Cabin-Regular.ttf');
    text-outline: 1px white
}

body, html {
	margin: 0px;
	width: 100%;
	font-family: cabin;
	background-color: #10e6dc;
}

h {
	font-size: 2em;
	text-align: center;
	color: #848482;
}

h2 {
	font-size: 3em;
	text-align: center;
	color: #848482;
}

#mobilenav {
	display: none;
}

#nav {
    background-color: #848482;
	text-align: center;
	font-size: 2em;
	color: white;
	margin: 0px;
	padding: 0px;
}

#nav > a {
	margin: 6px;
	color: white;
}

#nav:hover {
	background-color: #5e5e5c;
}

a {
	text-decoration: none;
}

li {
	margin: 1px;
	display: block;
	float: left;
}

#art, #game {
	background-color: #E5E4E2;
	width: 200px;
	height: 100px;
	float: left;
	font-size: 200%;
	text-align: center;
	margin: 1%;
	padding: 1%;
}

#navcontain {
	background-color: alpha;
	width: 100vw;
	padding: 0px;
	margin: 0px;
}
