@font-face {
    font-family: cabin;
    src: url('font/Cabin-Regular.ttf');
    text-outline: 1px white
}

body, html {
	margin: 0px;
	width: 100%;
	font-family: cabin;
	background-color: #10e6dc;
}

h {
	font-size: 2em;
	text-align: center;
	color: #848482;
}

h2 {
	font-size: 3em;
	text-align: center;
	color: #848482;
}

#main {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 200px;
	top: 0px;
}

#navcontain {
	background-color: #848482;
	width: 200px;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	position: fixed;
}

#nav {
	text-align: center;
	font-size: 2em;
	color: white;
	text-align: left;
	list-style: none;
	padding-left: 2px;
}

#nav:hover {
	background-color: #5e5e5c;
	padding-left: 10px;
}

#navtoggle {
	display: none;
}

a {
	text-decoration: none;
}

li {
	margin: 1px;
}

#art {
	background-color: #E5E4E2;
	width: 200px;
	min-height: 100px;
	float: left;
	font-size: 200%;
	text-align: center;
	margin: 1%;
	padding: 1%;
}

#game {
	background-color: #E5E4E2;
	width: 300px;
	min-height: 200px;
	float: left;
	font-size: 200%;
	text-align: center;
	margin: 1%;
	padding: 1%;
}

#game:hover, #art:hover {
	background-color: rgba(0, 0, 0, 0);
}

img {
	max-width: 100%;
}

@media screen and (max-width: 900px) {
	#navcontain, #nav {
		display: block;
		float: left;
		position: initial;
	}
	
	#navcontain {
		width: 100vw;
		height: auto;
	}
	
	#nav {
		padding: 10px;
	}
	
	#nav:hover {
		background-color: initial;
		padding-left: 10px;
	}
	
	#main {
		width: 99vw;
		padding: initial;
		padding-top: 30px;
	}
}

@media screen and (max-width: 622px) {	
	#nav {
		margin: auto;
		display: inline-block;
		padding: 6px;
	}
	
	#nav:hover {
		background-color: initial;
		padding-left: 6px;
	}
	
	#game, #art {
		width: 45vw;
	}
}
