@font-face {
    font-family: cabin;
    src: url('font/Cabin-Regular.ttf');
    text-outline: 1px white
}

body, html {
	margin: 0px;
	width: 100%;
	font-family: cabin;
}

h {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 3em;
	text-align: center;
}

#main {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 200px;
	top: 0px;
}

#navcontain {
	width: 200px;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	position: fixed;
}

#nav {
	margin: 0px;
	text-align: center;
	font-size: 2em;
	color: white;
	text-align: left;
	list-style: none;
	padding-left: 2px;
}

#nav:hover {
	background-color: #823535;
	padding-left: 10px;
}

#navtoggle {
	display: none;
}

#navcontain > a {
	text-decoration: none;
}

li {
	margin: 1px;
}

#art {
	width: 200px;
	min-height: 100px;
	float: left;
	font-size: 200%;
	text-align: center;
	margin: 1%;
	padding: 1%;
}

#game {
	width: 300px;
	min-height: 200px;
	float: left;
	font-size: 200%;
	text-align: center;
	margin: 1%;
	padding: 1%;
}

img {
	max-width: 100%;
}

.toggle {
	float: bottom;
	position: absolute;
	bottom: 0px;
}

@media screen and (max-width: 900px) {
	#navcontain, #nav {
		display: block;
		float: left;
		position: initial;
	}
	
	#navcontain {
		width: 100vw;
		height: auto;
	}
	
	#nav {
		padding: 15px;
	}
	
	#nav:hover {
		background-color: initial;
		padding-left: 15px;
	}
	
	#main {
		width: 99vw;
		padding: initial;
		padding-top: 30px;
	}
	
	.toggle {
		display: none !important;
	}
}

@media screen and (max-width: 662px) {	
	#nav {
		margin: auto;
		display: inline-block;
		padding: 2px;
		font-size: 5.5vw;
	}
	
	#nav:hover {
		background-color: initial;
		padding-left: 2px;
	}
	
	.everyother {
		background-color: #823535;
	}
	
	#game, #art {
		width: 45vw;
	}
	
	.toggle {
		display: none !important;
	}
	
	body {
		font-size: 3.5vw;
	}
}
